<% include ../partials/boilerplate %>


<form method='POST' action='/movies'>
  <input name='title' type='text' placeholder='title' />
  <input name='year' type='number' placeholder='year' />
  <input name='genre' type='text' placeholder='genre'>
  <input type='submit' value='Submit!' />
</form>

<% include ../partials/end %>